Python Tutorial

In [2]:
#google colab setup ->
#https://www.youtube.com/watch?v=RTOOo39iaSU&fbclid=IwAR3d4ONzNXsfRxGVOF0VQhiwhwnk4pfcKRTTHt5GXmwKJNSO-Xr180HZ7Pk
# python3 and other libraries already installed

#You can follow w3schools for cool python tutorials

# Taking user input in python

x = 3
x = 'abc'
y = 5.5
#printf("Hellow world")
#printf("%d", x);

print(y)
print(x)
print('This is our first class')
print("Hello World")

5.5
abc
This is our first class
Hello World

In [3]:
#scanf("%d", &x);
i = int(input(("Enter number:")))
j = int(input(("Enter number:")))

result = i+j
print(result)


#x = float(input("Enter first number:"))
#y = float(input("Enter second number:"))
#sum = x+y

#num = int(input("Enter a number: "))
#num = input("Enter a value: ")
#sum = num + 5  
#print(sum)

ValueError: invalid literal for int() with base 10: ''

This is the First Class

In [ ]:
name1 = "Nabila Sabrin"
name2 = "Sworna"
full_name = name1 +" " + name2
print(full_name)

In [ ]:
list1 = [1, 2, 5] # list
num1 = 10
num2 = 5
sum = num1 + num2
#printf("The summation of %d and %d is %d", a,b,sum);

print(f'The summation of {num1} and {num2} is {sum}')

print(f"The result is {sum}")

print(f'Addition of two numbers: {sum}')

print(f'the value of sum is: {sum}')

#printf("add %d and %d and result is %d", x,y,sum);
#print(f'my input number is: {num}, array is: {array}')
#print(f'add {num1} and {num2} and result is {sum}')

In [ ]:
a = 30
b = 20
#indentation

if a>b:
  print("hello")
  if a>5:
    print("a is greater than 5")
  else:
    print("a is less than or equal to 5")

  print('a is larger than b')
elif b>a:
  print('b is larger than a')
else:
  print('both are equal')
print("This is the outside of the If-Else block")

if a>20 and a<35:
  print("true")
else:
  print('false')

if a==30:
  print("a is equal to 30")

In [ ]:
#set, tuple, list, dictionary
#w3school
listt = ['a', 'b', 5, 6.0]
print(listt[2])
thislist = ['banana', 'apple', [55, 66], 'orange', [2.5, 7.3, 4.9]]
print(thislist[1])
print(thislist[2][0])
print(thislist[4][1])

In [ ]:
thislist[0] = 'blackcurrent'
print(thislist)

In [ ]:
thislist.append('banana')
print(thislist)

In [ ]:
thislist.insert(1, 'berry')
thislist.append('pineapple')
thislist.append('banana')
print(thislist)

In [ ]:
thislist.remove('banana')
print(thislist)

In [ ]:
thislist.append('apple')
print(thislist)

In [ ]:
thislist.remove('apple')
print(thislist)

In [ ]:
print(thislist)

if 'orange' in thislist:
  print('true')
else:
  print('false')

if 'berry' not in thislist:
  print("not found")
else:
  print("found")

In [ ]:
thislist.clear()
print(thislist)

In [ ]:
#list slicing
a = [1,2,4,6,7,8,9,10] # indexing starts from 0 ends at len-1 (0 to 7)

#a[starting_index:ending_index+1]
print(len(a))
print(a[1:6])
print(a[3:7])
print(a[2:len(a)])
print(a[2:8])
print(a[:6])
print(a[2:])
print(a[:])
print(a[-3:])

In [ ]:
b = [1,2,4,6,7,8,9,10]
result = a + b
print(a + b)

In [ ]:
#iterate through a list
fruits = ['orange', 'apple', 'banana', 23, [56.5, 57.3]]

for a in fruits:
  print(a)

for x in 'banana':
  print(x)

In [ ]:
for x in fruits:
  print(x)
  if x == 'apple':
    break

In [ ]:
for i in range(10, 100, 10):
  print(i)

In [ ]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)
print(thisdict['brand'])
x = list(thisdict.keys())
print(x[0])

In [ ]:
thisdict['color'] = ['red', 'black']
print(thisdict)
thisdict["brand"] = 'Mustang'
print(thisdict)

In [ ]:
for x in thisdict:
  print(thisdict[x])
print(len(thisdict))

In [ ]:
val_list = []
for x in thisdict:
  val_list.append(thisdict[x])
print(val_list)

In [ ]:
def sign(x):
  if x > 0:
    return 'positive'
  elif x < 0:
    return 'negative'
  else:
    return 'zero'

for x in [-1, 0, 1]:
  print(sign(x))

In [ ]:
def test(arr):
  return (arr + arr)

print(test([1,2,3,4]))

In [ ]:
def minmax(listt):
  return min(listt), max(listt)

listt = [1,5,0,2,7]
small, large = minmax(listt)
print(f'min: {small}, max: {large}')

In [ ]:
listt = [
         [1,2,4],
         [6,8],
         [3,4,5,7]
]

print(listt)
print(type(listt))

In [ ]:
#numpy tutorial - http://cs231n.github.io/python-numpy-tutorial/#numpy-arrays
# you can follow this link for the basics of numpy

# numpy uses the facility of GPU. So, try to use it instead of for loop

import numpy as np

a = np.array([1, 2, 3])   # Create a rank 1 array
print(type(a))            # Prints "<class 'numpy.ndarray'>"
print(a.shape)            # Prints "(3,)"
print(a[0],a[1], a[2])   # Prints "1 2 3"
a[0] = 5                  # Change an element of the array
print(a)

In [ ]:
b = np.array([[1,2,3],
              [5,7,8]])
print(b.shape)
print(b[0][0], b[0,1])
print(b[0,2])

In [ ]:
array1 = np.random.random((2,2)) # create an array and filled with random values
print(array1)

In [ ]:
a = np.array([
              [1,2,3,4],
              [4,5,7,8],
              [7,8,9,0]
              ])

print(a)
print(a[1:3 , 0:3]) # Rank 2 view of the second row of a
print(a[0:2, 1:3])

In [ ]:
# you can explicitly specify data type
x = np.array([[1,2], [3,4]], dtype=np.float64)
y = np.array([[5,6], [7,8]], dtype=np.float64)

print(x + y)
print(np.add(x,y))
#O(1)

In [ ]:
u = x/y
print(u)

In [ ]:
z = x*y
print(z)

In [ ]:
z = np.dot(x,y)
# https://www.mathsisfun.com/algebra/matrix-multiplying.html  -> matrix dot product
print(z)

u = x.dot(y)
print(u)

In [ ]:
x = np.array([
              [1,2],
              [3,4]
])
print(np.sum(x))
print(np.sum(x, axis=0)) #compute sum of each column
print(np.sum(x, axis=1)) #compute sum of each row

print(x.T)

In [ ]:
#conversion
a =[[1,2,3], [4,5,6]]
print(type(a))

a = np.array(a)
print(type(a))

a = a.tolist()
print(type(a))

In [ ]:
# When you assign a list to another list, then you assign by reference, not by value
# This is a very important point to note
# urlist = mylist # copy by reference
list1 = [1,2,3]
list2 = list1  #pass by reference
list2.append(4)
list2.remove(1)
print(list1)
print(list2)

list3 = [1,2,3]
list4 = list3.copy() #pass by value
list4.append(4)
list4.remove(2)
print(list3)
print(list4)

In [ ]:
list1 = [1,2,3]
list2 = list1.copy()
list1.append(5)
print(list1)
print(list2)

x = 5
y = x

y = 7

print(x)
print(y)

In [ ]:
#Matplotlib

import numpy as np
import matplotlib.pyplot as plt
import math

# Compute the x and y coordinates for points on a sine curve
x = np.arange(0, 3 * np.pi, 0.1) # [0, 0.1, 0.2, 0.3, ... 3*3.1416]
#y = np.sin(x)  #uncomment this and see the magic
y = 2*x 

# Plot the points using matplotlib
plt.plot(x, y)
plt.show()  # You must call plt.show() to make graphics appear

In [5]:
class Employee:
  emp_num = 0 # works like static variable common to all objects of a class

  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.email = first.split + '.' + last.split + '@email.com'
    self.pay = pay
    Employee.emp_num += 1
  
  def fullname(self):
    return f'{self.first} {self.last}'
  
  def applyRaise(self, raise_):
    self.pay = int(self.pay * raise_)

  def __str__(self): 
    return f'{self.fullname()} - {self.email}'

  @staticmethod # (Decorator) same working procedure for all objects of a class 
  def is_holiday(day):
    holidays = [1, 30, 49, 350]
    if day in holidays:
        return True
    else:
      return False


print(Employee.emp_num)

emp_1 = Employee('musical', 'nasir', 50000)



print(Employee.emp_num)

print(emp_1.fullname())

emp_1.applyRaise(1.05)
print(emp_1.pay)

print(Employee.is_holiday(30))
print(Employee.is_holiday(31))

print(emp_1)

0

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
class Employee:
  emp_num = 0
  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.email = first + '.' + last + '@email.com'
    self.pay = pay
    Employee.emp_num += 1

  def fullname(self):
    return f'{self.first} {self.last}'
  
  def applyRaise(self,raise_):
    self.pay = int(self.pay * raise_)


class Developer(Employee):
    def __init__(self, first, last, pay, prog_lang):
        super().__init__(first, last, pay)
        self.prog_lang = prog_lang


class Manager(Employee):
  def __init__(self, first, last, pay, employees=None):
      super().__init__(first, last, pay)
      if employees is None:
          self.employees = []
      else:
          self.employees = employees

  def add_emp(self, emp):
      if emp not in self.employees:
          self.employees.append(emp)

  def remove_emp(self, emp):
      if emp in self.employees:
          self.employees.remove(emp)

  def print_emps(self):
      for emp in self.employees:
          print('-->', emp.fullname())

dev_1 = Developer('Maria', 'Muna', 500000000, 'Python')
dev_2 = Developer('Test', 'Employee', 60000, 'Java')

mgr_1 = Manager('Sue', 'Smith', 90000, [dev_1])
print(mgr_1.email)

mgr_1.add_emp(dev_2)
mgr_1.print_emps()
print()

mgr_1.remove_emp(dev_2)
mgr_1.print_emps()
print()

print(isinstance(mgr_1, Manager))  # Is mgr_1 an instance of Manager? 
print(isinstance(mgr_1, Employee))
print(isinstance(mgr_1, Developer))
print()

print(issubclass(Developer, Employee)) # Is Developer class a subclass of Employee class??